<!doctype html>
<html ng-app="plunker" >
<head>
  <meta charset="utf-8">
  <title>AngularJS Plunker</title>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <link rel="stylesheet" href="style.css">
  <script src="http://cdn.bootcss.com/angular.js/1.5.7/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
  <button ng-click="getData()">Get Data</button>
  <button ng-click="clearData()">Clear Data</button>
  <pre>{{ data | json }}</pre>
</body>
</html>